.Weather-forecast{
  padding: 2rem;
    background-color: rgb(33, 37, 138);
    border-radius: 10px;
    margin: 1rem auto;
    color: #fff;
}
.container-forecast{
  display:flex;
}
.heading{
  font-weight: bold;
    font-size: 1.5rem;
}
.spantext{
  color:#685f61;
  font-size:18px;
}
.container{
  display:flex;
  justify-content: space-between;

}
.weather_card_main_body_bottom{
  display: flex;
  flex-direction: row;
}

.weather_card_main_body_bottom div{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temperature-card{
  height:20px;
  width:20px;
  display:flex;
  
  justify-content: end;
  background-color: white;
  font-size:8px;
}
.celsius{
  font-size:10px;
}
.celsius-container{
  display:flex;
  flex-direction:row;
}

.icon{
  color:white;
  margin:20px;
}
.text-color{
  color:white;
  font-weight:normal;
  margin-bottom:10px;
}
.text-color-para{
  margin-left:70px;
  color:aliceblue
}
.meters{
  display:flex;
  flex-direction:column;
  
}
.days-weather{
  margin-top:80px;
  display:flex;

}
.days-count{
  display:flex;
  flex-direction:column;

}
.day-text{
  color:white;
  margin-left:25px;

}
.active{
  background-color: rgb(142, 142, 144);
}
.margin{
  margin-left:45px;
}
.today-text{
  font-size:20px;
  color:#000000;
  font-weight:normal;
}
.present-day-container{
  height:80px;
  width:100%;
  box-shadow: #685f61;  
  display:flex;
  margin-left:20px;
  border:solid;
  color:rgb(129, 124, 124);
  border-radius:10px;


}
.present-day{
  display:flex;
  flex-direction:column;
}
.margin-left{
   margin-left:40px;
}
.margin-left-text{
  margin-left:30px;
}
.temperature_units{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: end;
}




.temperature_units p{
  border: 1px solid rgb(173, 173, 173);
  padding: 3px 10px; 
}

.temperature_units p:first-child{
  border-radius: 4px 0 0 4px;
}

.temperature_units p:last-child{
  border-radius: 0 4px 4px 0 ;
}